@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.faq-container {
  display: flex;
  justify-content: center;
}

.faq {
  padding: 20px;
  width: 30%;
  background-color: #fff;
  box-shadow: 4px 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.faq h2 {
  font-family: 'Sour Gummy';
  font-size: 45px;
  text-align: center;
  color: #82bcc3;
}

.faq-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.faq-item {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-item:hover {
  background-color: #83bcc8;
}

.faq-question {
  font-family: 'Poppins';
  font-size: 19px;
  font-weight: 700;
  color: #37828c;
}

.faq-answer {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 19px;
  margin-top: 10px;
  display: none;
}

.faq-item.open .faq-answer {
  display: block;
}
